:root {
  /* --dark: rgba(0,0,0, 0.5); */
  --dark: #474747;
  --light: rgba(225, 225, 225, 0.5);
}

* {
  /* background-color: ghostwhite; */
  font-family: "League Spartan";
  font-weight: 100;
}

button {
  margin: 0 4px;
  padding: 4px 8px 0 8px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  color: var(--dark);
  background-color: var(--light);
}

p {
  font-size: 24px;
}

.shadow {
  box-shadow: lightgray 3px 3px 3px;
}

.plaque {
  padding: 4px 8px 0 8px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  color: var(--dark);
  background-color: var(--light);
}

.plaque-btn:hover {
  color: var(--light);
  background-color: var(--dark);
  cursor: pointer;
}

.plaque-tag {
  width: fit-content;
  display: inline;
}

.App {
  /* text-align: center; */
  display: flex;
  width: 95%;
  margin: auto;
}

.App-header {
  display: flex;
  align-items: center;
  font-family: "League Spartan";
  color: var(--dark);
  position: fixed;
  width: 95%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  backdrop-filter: blur(8px);
  justify-content: space-between;
  border-bottom: 2px solid var(--dark);
  z-index: 1;
}

.App-header h1 {
  font-size: 2em;
  font-weight: 500;
}

.App-dynamic-title {
  position: fixed;
  margin-top: 100px;
  width: 20%;
}

.page-stream {
  margin-left: 20%;
  margin-right: 20px;
  width: 80%;
}

.card {
  margin-top: 100px;
  min-height: 83vh;
  /* border: 2px dotted var(--dark); */
  position: relative;
}

.card-bottom-buffer {
  margin-bottom: 500px;
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-card section {
  position: absolute;
  width: fit-content;
  right: 0;
  text-align: right;
}

.hero-card section h1 {
  font-size: 100px;
  margin: 20px 0;
}

.hero-card section h2 {
  font-size: 40px;
  margin: 20px 0;
}

.who-am-i-card img {
  width: 30%;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.work-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  height: 230px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card img {
  width: 330px;
  height: 160px;
  object-fit: cover;
  object-position: 50% 0;
}

.project-card section {
  display: flex;
  flex-wrap: wrap;
}

.project-card section p {
  margin-right: 5px;
}

.project-card p {
  margin: 0;
}

.touch-base-card input[type="email"], textarea {
  font-size: 24px;
  border: none;
  width: 100%;
}

.touch-base-card input, textarea:focus-visible {
  outline: none;
}

.touch-base-card textarea {
  margin: 20px 0;
  height: 500px;
  resize: none;
}

.touch-base-card input[type="submit"]:hover {
  cursor: pointer;  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
