:root {
  /* --dark: rgba(0,0,0, 0.5); */
  --dark: #474747;
  --light: rgba(225, 225, 225, 0.5);
}

* {
  /* background-color: ghostwhite; */
  font-family: "League Spartan";
  font-weight: 100;
}

button {
  margin: 0 4px;
  padding: 4px 8px 0 8px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  color: var(--dark);
  background-color: var(--light);
}

p {
  font-size: 24px;
}

.shadow {
  box-shadow: lightgray 3px 3px 3px;
}

.plaque {
  padding: 4px 8px 0 8px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  color: var(--dark);
  background-color: var(--light);
}

.plaque-btn:hover {
  color: var(--light);
  background-color: var(--dark);
  cursor: pointer;
}

.plaque-tag {
  width: fit-content;
  display: inline;
}

/* .App {
  text-align: center;
  display: flex;
  width: 95%;
  margin: auto;
} */

.App-header {
  display: flex;
  align-items: center;
  font-family: "League Spartan";
  color: var(--dark);
  position: fixed;
  width: 95%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  backdrop-filter: blur(8px);
  justify-content: space-between;
  border-bottom: 2px solid var(--dark);
  z-index: 1;
}

.App-header h1 {
  font-size: 2em;
  font-weight: 500;
}

.main-stream {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

.header-and-card-stream {
  display: flex;
  /* width: 95%; */
  /* margin: auto; */
}

.dynamic-title {
  position: fixed;
  margin-top: 100px;
  width: 20%;
}

.card-stream {
  margin-left: 20%;
  margin-right: 20px;
  width: 80%;
}

.card {
  position: relative;
  margin-top: 100px;
  min-height: 80vh;
  padding-bottom: 3vh;
}

.card:last-child {
  position: relative;
  margin-top: 100px;
  min-height: 76vh;
}

.card-bottom-buffer {
  margin-bottom: 500px;
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-card section {
  position: absolute;
  width: fit-content;
  right: 0;
  text-align: right;
}

.hero-card section h1 {
  font-size: 100px;
  margin: 20px 0;
}

.hero-card section h2 {
  font-size: 40px;
  margin: 20px 0;
}

.who-am-i-card img {
  width: 30%;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.work-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  height: 230px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-preview {
  position: relative;
  /* width: 50%; */
  /* max-width: 300px; */
  width: 330px;
  height: 160px;
}

.project-overlay {
  position: absolute;
  display: flex;
  bottom: 0;
  backdrop-filter: blur(6px);
  width: 100%;
  height: 100%;
  transition: 400ms ease;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

.overlay-btns-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.overlay-btns-container a {
  margin: 12px;
  width: fit-content;
}

.project-overlay:hover {
  opacity: 1;
}

.project-preview img {
  width: 330px;
  height: 160px;
  object-fit: cover;
  object-position: 50% 0;
}

.project-card section {
  display: flex;
  flex-wrap: wrap;
}

.project-card section p {
  margin-right: 5px;
}

.project-card p {
  margin: 0;
}

.touch-base-card input[type="email"], textarea {
  font-size: 24px;
  border: none;
  width: 100%;
}

.touch-base-card input, textarea:focus-visible {
  outline: none;
}

.touch-base-card textarea {
  margin: 20px 0;
  height: 450px;
  resize: none;
}

.touch-base-card input[type="submit"]:hover {
  cursor: pointer;  
}

.App-footer {
  display: flex;
  align-items: flex-end;
  font-family: "League Spartan";
  color: var(--light);
  background-color: var(--light);
  border-radius: 5px 5px 0 0;
  padding: 0 4px;
  height: 4vh;
  z-index: 1;
}

.App-footer p{
  margin: 4px 0 6px 0;
  font-size: 12px;
  color: var(--dark);
}

.App-footer a {
  margin: 4px 6px 4px 0;
  font-size: 20px;
  color: #3f8da2;
}
